# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
.env

# =========================
# .NET
# =========================
bin/
obj/
.vs/

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

trained_models/*.pkl